# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db

# Environment
venv/
.env
.env.*

# Logs
logs/
*.log

# Runtime Files
signalforge.db
signals/
reports/

# VS Code / IDE
.vscode/
.idea/
*.swp
*.bak

# Docker Artifacts
*.tar
*.img

# OS Files
.DS_Store
Thumbs.db
